$backgroundColor: #0C102D;
$errorColor: #FD4646;
$primaryGragientColor: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$linearColor: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$cleanColor: #FFFFFF;
$primary80Color: #3B48D0;
$borderColor: #636363;
$text40Color: #A2CBFB;
$clean5: rgba(255, 255, 255, 0.05);
$linear3Color: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
